In [2]:
import gc
import re
import math
import json
import os
import numpy as np
import pandas as pd
from scipy import stats

In [3]:
pd.__version__

'0.23.4'

In [4]:
import matplotlib as mpl
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [5]:
from sklearn.preprocessing import MinMaxScaler, MaxAbsScaler, RobustScaler, StandardScaler
from sklearn.model_selection import train_test_split

In [11]:
from mlxtend.regressor import StackingRegressor

In [12]:
import datetime
from datetime import date
from datetime import timedelta
from datetime import datetime
from dateutil.relativedelta import relativedelta
import calendar

In [13]:
# pip install isoweek
# pip install tsfresh

In [14]:
from isoweek import Week

In [19]:
import pickle

In [20]:
from time import time

In [25]:
from sklearn.externals import joblib

In [27]:
import warnings
warnings.filterwarnings('ignore')

import sys
np.set_printoptions(threshold=sys.maxsize)

# Preparations:

In [108]:
df = pd.read_csv('CPN_Fractal_fct_468053.txt', sep='|')
df['date'] = df['Period Description Short'].apply(lambda x: pd.to_datetime(x[6:14]) - timedelta(days=2))

df = df[df['Market Display Name'].apply(lambda x: 'CVS' not in x)]
df = df[['Market Display Name', 'date','UPC', 'Units']]
df['Market_UPC'] = df['Market Display Name'] + df['UPC'].astype(str)
df.sort_values(by = ['Market_UPC', 'date'], inplace = True)

### add all rows with dates(if date doesn`t exist, add date with zero 'Unit')

In [95]:
max_date = df['date'].max()

def reindex_from_min_day(df):
    dates = pd.date_range(df.index.min(), max_date, freq='W-THU')
    idx = pd.Index(dates, name='date')
    return df.reindex(idx,fill_value=0)

df_new = df
df_new.set_index('date', inplace = True)
df_new = df_new.groupby('Market_UPC').apply(reindex_from_min_day)
df_new.shape

(36850, 4)

### delete all zero 'Unit' and save only the last one zero row:

In [96]:
df_new.drop('Market_UPC', axis = 1, inplace = True)
df_new.reset_index(inplace = True)

In [97]:
df_new = df_new[(df_new.Units != 0) | (df_new.date == '2018-12-27')]

In [98]:
df_new.head(2)

,Market_UPC,date,Market Display Name,UPC,Units
0,Target City TA201219708420,2018-06-07,Target City TA,201219708420,1.0
2,Target City TA201219708420,2018-06-21,Target City TA,201219708420,1.0

In [ ]:
df_market_upc = df_new[['Market Display Name', 'UPC']]

### add Market_UPC

In [82]:
df_market_upc['Market_UPC'] = df_market_upc['Market Display Name'] + df_market_upc['UPC'].astype(str)

### add max date

In [83]:
max_dates = pd.DataFrame(df[df.Units >0] \
                         .reset_index() \
                         .groupby('Market_UPC').max()['date']) \
                         .reset_index() \
                         .rename(columns = {'date': 'max_date'})
# max_dates_cnt = max_dates.groupby(['date']).count()

In [84]:
df_market_upc = df_market_upc.merge(max_dates, how = 'left', on = 'Market_UPC')

### dead_flag (season_type - no data after 2018)

In [85]:
df_market_upc['dead_reason'] = np.where(df_market_upc.max_date < '2018-01-01', 'season', 'alive')
df_market_upc['dead_season'] = np.where(df_market_upc.max_date < '2018-01-01', 1, 0)

## Add another features:

In [165]:
df_market_upc_pre = df_new[['Market_UPC', 'date']] \
                      .groupby(['Market_UPC'])['date'].apply(list) \
                      .apply(np.diff)

### dead_flag few observations (date less than 4 )

In [160]:
diff_date_len = df_market_upc_pre.apply(lambda x: len(x))

In [161]:
diff_date_len = pd.DataFrame(diff_date_len).reset_index().rename(columns = {'date': 'date_qty'})

In [251]:
df_market_upc = df_market_upc.merge(diff_date_len, how='left', on = 'Market_UPC')

### dead_flag (data is empty more than 1 season period)

In [252]:
df_market_upc

,Market Display Name,UPC,date_diff,Market_UPC,max_date,dead_reason,dead_season,date_qty
0,Target City TA,3500046280,0 0 7 days 1 7 days 2 7 days 3 7 d...,Target City TA3500046280,2017-03-23,season,0,10
1,Target City TA,201219708420,0 0 14 days 1 7 days 2 7 days 3 ...,Target City TA201219708420,2018-12-27,alive,0,28
2,Target Express TA,201219708420,0 0 14 days 1 28 days 2 14 days 3 7 d...,Target Express TA201219708420,2018-12-20,alive,0,9
3,Target GM Only TA,3500046280,0 0 7 days 1 7 days 2 7 days 3 7 d...,Target GM Only TA3500046280,2017-04-06,season,0,14
4,Target GM Only TA,201219708420,0 0 7 days 1 7 days 2 7 days 3 7 d...,Target GM Only TA201219708420,2018-12-27,alive,0,29
5,Target GM TA,3500046280,0 0 7 days 1 7 days 2 7 days 3 7 d...,Target GM TA3500046280,2017-04-06,season,0,14
6,Target GM TA,201219708420,0 0 7 days 1 7 days 2 7 days 3 7 d...,Target GM TA201219708420,2018-12-27,alive,0,29
7,Target Pfresh TA,2848433070,0 0 126 days,Target Pfresh TA2848433070,2018-09-13,alive,1,2
8,Target Pfresh TA,2848433540,0 0 252 days 1 217 days,Target Pfresh TA2848433540,2018-07-26,alive,1,3
9,Target Pfresh TA,3500046280,0 0 7 days 1 7 days 2 7 day...,Target Pfresh TA3500046280,2018-12-06,alive,0,20
10,Target Pfresh TA,3700000667,Empty DataFrame Columns: [0] Index: [],Target Pfresh TA3700000667,2018-09-27,alive,1,1
11,Target Pfresh TA,201219708420,0 0 7 days 1 7 days 2 7 days 3 7 d...,Target Pfresh TA201219708420,2018-12-27,alive,0,29
12,Target Pfresh TA,201274048514,0 0 196 days 1 91 days,Target Pfresh TA201274048514,2018-03-29,alive,1,3
13,Target Supercenter TA,2848433070,0 0 329 days 1 42 days,Target Supercenter TA2848433070,2018-07-12,alive,1,3
14,Target Supercenter TA,3500046280,0 0 7 days 1 7 days 2 7 days 3 ...,Target Supercenter TA3500046280,2017-04-20,season,0,14
15,Target Supercenter TA,201219708420,0 0 7 days 1 7 days 2 7 days 3 7 d...,Target Supercenter TA201219708420,2018-12-27,alive,0,29
16,Target Total Atlanta TA,3500046280,0 0 7 days 1 7 days 2 7 days 3 7 days 4...,Target Total Atlanta TA3500046280,2017-03-09,season,0,10
17,Target Total Atlanta TA,201219708420,0 0 7 days 1 7 days 2 7 days 3 7 d...,Target Total Atlanta TA201219708420,2018-12-27,alive,0,28
18,Target Total Atlanta xAOC Rem,2413116200,0 0 14 days 1 21 days 2 28 days 3 ...,Target Total Atlanta xAOC Rem2413116200,2018-10-11,alive,0,27
19,Target Total Atlanta xAOC Rem,3700098124,0 0 7 days 1 7 days 2 7 days 3 7 d...,Target Total Atlanta xAOC Rem3700098124,2018-12-27,alive,0,85
20,Target Total Atlanta xAOC Rem,4288742446,0 0 7 days 1 7 days 2 7 days 3 ...,Target Total Atlanta xAOC Rem4288742446,2018-12-27,alive,0,84
21,Target Total Atlanta xAOC Rem,70307407023,0 0 7 days 1 7 days 2 7 days 3 7 d...,Target Total Atlanta xAOC Rem70307407023,2017-03-30,season,0,6
22,Target Total Atlanta xAOC Rem,201541163524,0 0 7 days 1 7 days 2 7 days 3 7 d...,Target Total Atlanta xAOC Rem201541163524,2018-12-27,alive,0,99
23,Target Total Atlanta xAOC Rem,201656172544,0 0 7 days 1 7 days 2 7 days 3 ...,Target Total Atlanta xAOC Rem201656172544,2018-07-19,alive,0,62
24,Target Total Baltimore TA,3500046280,0 0 7 days 1 7 days 2 7 days 3 ...,Target Total Baltimore TA3500046280,2017-03-30,season,0,12
25,Target Total Baltimore TA,201219708420,0 0 7 days 1 7 days 2 7 days 3 7 d...,Target Total Baltimore TA201219708420,2018-12-27,alive,0,27
26,Target Total Baltimore xAOC Rem,1117112649,0 0 21 days 1 7 days 2 7 days 3 ...,Target Total Baltimore xAOC Rem1117112649,2018-12-06,alive,0,25
27,Target Total Baltimore xAOC Rem,3700098124,0 0 7 days 1 7 days 2 7 days 3 7 d...,Target Total Baltimore xAOC Rem3700098124,2018-12-27,alive,0,83
28,Target Total Baltimore xAOC Rem,7289413864,Empty DataFrame Columns: [0] Index: [],Target Total Baltimore xAOC Rem7289413864,2017-03-09,season,1,1
29,Target Total Baltimore xAOC Rem,201541163524,0 0 7 days 1 7 days 2 7 days 3 7 d...,Target Total Baltimore xAOC Rem201541163524,2018-12-27,alive,0,99
...,...,...,...,...,...,...,...,...
397,Target Total xAOC Rem,1117112649,0 0 7 days 1 7 days 2 7 days 3 ...,Target Total xAOC Rem1117112649,2018-12-27,alive,0,97
398,Target Total xAOC Rem,2413116200,0 0 7 days 1 7 days 2 7 days 3 ...,Target Total xAOC Rem2413116200,2018-12-27,alive,0,103
399,Target Total xAOC Rem,2413132927,0 0 7 days 1 14 days 2 49 days,Target Total xAOC Rem2413132927,2017-03-23,season,1,4
400,Target Total xAOC Rem,2829524424,Empty DataFrame Columns: [0] Index: [],Target Total xAOC Rem2829524424,2018-01-11,alive,1,1
401,Target Total xAOC Rem,3500000969,0 0 119 days,Target Total xAOC Rem3500000969,2017-07-13,season,1,2
402,Target Total xAOC Rem,3500000973,0 0 7 days 1 21 days 2 91 days 3 ...,Target Total xAOC Rem3500000973,2018-08-16,alive,0,10
403,Target Total xAOC Rem,3500046280,0 0 7 days 1 7 days 2 7 days 3 ...,Target Total xAOC Rem3500046280,2018-12-13,alive,0,68
404,Target Total xAOC Rem,3700023176,0 0 7 days 1 28 days 2 49 day...,Target Total xAOC Rem3700023176,2018-05-17,alive,0,12
405,Target Total xAOC Rem,3700035674,Empty DataFrame Columns: [0] Index: [],Target Total xAOC Rem3700035674,2017-06-08,season,1,1
406,Target Total xAOC Rem,3700098124,0 0 14 days 1 7 days 2 7 days 3 ...,Target Total xAOC Rem3700098124,2018-12-27,alive,0,92
407,Target Total xAOC Rem,4288742446,0 0 7 days 1 7 days 2 7 days 3 7 d...,Target Total xAOC Rem4288742446,2018-12-27,alive,0,95
408,Target Total xAOC Rem,5170077412,0 0 7 days 1 7 days,Target Total xAOC Rem5170077412,2018-12-27,alive,1,2
409,Target Total xAOC Rem,7155540125,0 0 147 days 1 49 days,Target Total xAOC Rem7155540125,2017-07-27,season,1,3
410,Target Total xAOC Rem,7289413864,0 0 28 days 1 35 days 2 77 days,Target Total xAOC Rem7289413864,2017-05-25,season,1,4
411,Target Total xAOC Rem,7518204943,0 0 7 days 1 7 days 2 7 day...,Target Total xAOC Rem7518204943,2018-08-23,alive,0,32
412,Target Total xAOC Rem,70307407023,0 0 7 days 1 7 days 2 7 day...,Target Total xAOC Rem70307407023,2018-08-02,alive,0,21
413,Target Total xAOC Rem,72242950018,0 0 7 days 1 7 days 2 7 days 3 ...,Target Total xAOC Rem72242950018,2018-12-27,alive,0,52
414,Target Total xAOC Rem,73291322864,0 0 14 days 1 105 days 2 245 days 3 ...,Target Total xAOC Rem73291322864,2018-07-19,alive,0,5
415,Target Total xAOC Rem,74917409729,0 0 7 days 1 7 days 2 7 days 3 ...,Target Total xAOC Rem74917409729,2018-12-27,alive,0,103
416,Target Total xAOC Rem,81181702035,0 0 7 days 1 7 days 2 7 days 3 ...,Target Total xAOC Rem81181702035,2018-12-27,alive,0,103
417,Target Total xAOC Rem,83881000971,Empty DataFrame Columns: [0] Index: [],Target Total xAOC Rem83881000971,2018-03-08,alive,1,1
418,Target Total xAOC Rem,87067800485,Empty DataFrame Columns: [0] Index: [],Target Total xAOC Rem87067800485,2017-09-14,season,1,1
419,Target Total xAOC Rem,200739851777,0 0 7 days,Target Total xAOC Rem200739851777,2017-02-23,season,1,2
420,Target Total xAOC Rem,200744528896,Empty DataFrame Columns: [0] Index: [],Target Total xAOC Rem200744528896,2018-10-11,alive,1,1
421,Target Total xAOC Rem,200836155392,0 0 7 days 1 7 days 2 7 days 3 7 d...,Target Total xAOC Rem200836155392,2017-06-22,season,0,25
422,Target Total xAOC Rem,201369447426,0 0 7 days,Target Total xAOC Rem201369447426,2018-06-21,alive,1,2
423,Target Total xAOC Rem,201541163524,0 0 7 days 1 7 days 2 7 days 3 7 d...,Target Total xAOC Rem201541163524,2018-12-27,alive,0,99
424,Target Total xAOC Rem,201656172544,0 0 7 days 1 7 days 2 7 days 3 ...,Target Total xAOC Rem201656172544,2018-12-27,alive,0,99
425,Target Total xAOC Rem,202003322369,0 0 7 days 1 7 days 2 7 days 3 7 d...,Target Total xAOC Rem202003322369,2018-12-27,alive,0,67
426,Target Total xAOC Rem,202015066624,0 0 266 days,Target Total xAOC Rem202015066624,2018-03-15,alive,1,2

In [244]:
df_market_upc_pre2['days'] = df_market_upc_pre2['days'].apply(lambda x: [0] if len(x)==0 else x)

In [255]:
df_market_upc_pre2['max_gap'] =  df_market_upc_pre2['days'].apply(lambda x: max(x))

In [256]:
df_market_upc_pre2['max_gap_flag'] =  df_market_upc_pre2['days'].apply(lambda x: 1 if (max(x) - x[-1])==0 else 0)

In [257]:
df_market_upc = df_market_upc.merge(df_market_upc_pre2, how='left', on = 'Market_UPC')

In [259]:
df_market_upc.drop(['date', 'days', 'big_gap_dead'], axis = 1, inplace = True)

In [266]:
df_market_upc.columns

Index(['Market Display Name', 'UPC', 'date_diff', 'Market_UPC', 'max_date',
       'dead_reason', 'dead_season', 'date_qty', 'max_gap', 'max_gap_flag'],
      dtype='object')

In [267]:
df_market_upc.drop(['dead_reason', 'dead_season'], inplace = True, axis = 1)

In [268]:
df_market_upc.columns

Index(['Market Display Name', 'UPC', 'date_diff', 'Market_UPC', 'max_date',
       'date_qty', 'max_gap', 'max_gap_flag'],
      dtype='object')

In [269]:
df_market_upc['date_qty_flag'] = np.where(df_market_upc['date_qty']<4,1,0)

In [270]:
df_market_upc.columns

Index(['Market Display Name', 'UPC', 'date_diff', 'Market_UPC', 'max_date',
       'date_qty', 'max_gap', 'max_gap_flag', 'date_qty_flag'],
      dtype='object')

In [271]:
df_market_upc.head()

,Market Display Name,UPC,date_diff,Market_UPC,max_date,date_qty,max_gap,max_gap_flag,date_qty_flag
0,Target City TA,3500046280,0 0 7 days 1 7 days 2 7 days 3 7 d...,Target City TA3500046280,2017-03-23,10,644,1,0
1,Target City TA,201219708420,0 0 14 days 1 7 days 2 7 days 3 ...,Target City TA201219708420,2018-12-27,28,14,0,0
2,Target Express TA,201219708420,0 0 14 days 1 28 days 2 14 days 3 7 d...,Target Express TA201219708420,2018-12-20,9,35,0,0
3,Target GM Only TA,3500046280,0 0 7 days 1 7 days 2 7 days 3 7 d...,Target GM Only TA3500046280,2017-04-06,14,630,1,0
4,Target GM Only TA,201219708420,0 0 7 days 1 7 days 2 7 days 3 7 d...,Target GM Only TA201219708420,2018-12-27,29,7,1,0

In [272]:
df_market_upc.to_csv('add_features.csv')

In [263]:
os.getcwd()

'C:\\Users\\user\\19_10_21_Nielsen'